body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hero Styles */

.hero {
  width: 100%;
  min-height: 100vh;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Card Styles */

.cardContainer {
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  border: 5px solid #fefefe;
}

.card:nth-child(6n - 5) {
  height: 25%;
}

.card:nth-child(6n-4) {
  height: 75%;
}

.card:nth-child(6n-3) {
  height: 50%;
}

.card:nth-child(6n-2) {
  height: 50%;
}

.card:nth-child(6n-1) {
  height: 66.666%;
}

.card:nth-child(6n) {
  height: 33.333%;
}

.btnContainer {
  padding: 20px 0 0 0;
}

/* Button Styles */

button {
  border: none;
  outline: none;
  padding: 10px 0;
  width: 110px;
  margin: 0 10px;
  background: #000000;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
}
